.partial-member_info{
    
	.member-name {
		padding: 10px 0 7px 0;
	}

	.profile-picture {
        position:relative;
		img {
			width: 100%;
            height: auto;
		}
	}	

    .member-donate-button {
        position:absolute;
        width:90%;
        margin:0 5%;
        bottom:10px;

        
        .btn-base {
            width:100%;
        }
    }

	.block {
		text-transform: uppercase;
		
		color: $global-var_featured-color-8;
		
			strong {
				color: $global-var_primary-font-color;	
			}
	} 

    blockquote {
        @include rem(font-size, $global-var_base-font-size);
        @include rem(line-height, $global-var_base-line-height);
    	margin:0;padding:0;
    	width:100%;
        min-height:187px;
    }

    .profile-detail h5 {
    	color: #fff;
        margin-bottom: 5px;

    }

    .motivation-quote-box {
    	background: #000;
    	width: 100%;
    	height: 217px;
    	padding: 15px;
        overflow:auto;
    }

    .funds-raised-total {
    	font-size: 30px;
    	text-align: center;
    	color: $global-var_featured-color-8;
    	padding: 10px 0;
    
    	h5 {
    		line-height: 3rem;
    	}
    }

    .location-detail {
    	padding: 5px 0;
    }

}
