/* TEAM PAGE COLLAGE CSS */
.team-page-collage {
    .row {
        padding-bottom: 5px;
    }
    .captain-details {
        margin-top: 10px;
        h4 {
            margin-bottom: 0;
        }
        a {
            text-transform: uppercase;
        }
    }
}