#mospace-page-team-email{
    .team-message-form-container{

        margin-top:15px;
        @extend %clearfix;

        .ff-field{
            margin-bottom:15px;
        }

        .message-information{
            margin-bottom:0;
        }

        .this-or-that-container{
            .ff-field{margin:0;}
            .item, .or{
                float:left;
                margin:0 8px 0 0;
            }
            .or{line-height:35px}
        }

    }
}