.partial_mospace-aside-badges {

    .participation-badges {
        
    }

    .participation-badge-thumbnail {
        position: relative; // sizing-context for img

        a{
            display:block;
        }

        img {
            width:99%; // Why 99%? it's odd but Firefox renders the imgs 1px out of the box if width == 100%
            height: auto;
            vertical-align: bottom; // remove line-height spacing
        }
    }
    .badge-spacer {
        height: 1px; // Need some space to prevent the spacer from collapsing
    }
    
    .participation-badge-thumbnail + .participation-badge-details {
        margin-top: 5px;
    }

    .participation-badge-details {
        text-align: center;
        @include rem(font-size, 13px);
        @include rem(line-height, 14px);
    }

}